
<!--- login ----------------------------------------------------------------------------------------------------------->
<script id="signin" type="text/x-handlebars-template">

    <main role="main" class="container">	
	   <form id="login-send" class="form-signin">

	   
		  <div class="text-center mb-4">
			<h1 class="h3 mb-3 font-weight-normal">{{lang.link.login}}</h1>
		  </div>
		  
		  <div class="alert alert-danger hide" role="alert" data-form-error></div>
		  <div class="alert alert-info hide" role="alert" data-form-info></div>

		  <div class="form-label-group">
			<input type="text" name="login" id="inputLogin" class="form-control" placeholder="{{lang.text.login}}" required autofocus>
			<label for="inputEmail"><br /></label>
		  </div>
          
		  <div class="form-label-group">
			<input type="password" name="password" id="inputPassword" class="form-control" placeholder="{{lang.text.password}}" required>
			<label for="inputPassword"><br /></label>
		  </div>


		  <button class="btn btn-lg btn-primary btn-block" name="submit" type="button" value="{{lang.button.login}}" data-form="login-send">{{lang.button.login}}</button>
		</form>
	</div>
 
	
</script>
<!--- \login ----------------------------------------------------------------------------------------------------------->
<!--- signup ----------------------------------------------------------------------------------------------------------->
<script id="signup" type="text/x-handlebars-template">


   <main role="main" class="container">
   
   <form class="form-horizontal form-signup" id="signup-send">

		<div class="text-center mb-4">
			<h1 class="h3 mb-3 font-weight-normal">{{lang.link.signup}}</h1>
		</div>
        
        <div class="alert alert-danger hide" role="alert" data-form-error></div>
		<div class="alert alert-info hide" role="alert" data-form-info></div>
        
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="name">{{lang.text.login}}</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input type="text" name="login" class="form-control" id="login" required autofocus>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="password">{{lang.text.password}}</label>
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" name="password" class="form-control" id="password" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="password">{{lang.text.repeatPassword}}</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem">
                            <i class="fa fa-repeat"></i>
                        </div>
                        <input  type="password" name="repassword" class="form-control"
                               id="repassword" required>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="password">Аватар</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem">
                            <i class="fa fa-repeat"></i>
                        </div>
                        <input type="file" name="avatar" id="avatar" class="form-control">
                               
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button name="Send" type="button" class="btn btn-success"  data-form="signup-send"><i class="fa fa-user-plus"></i> {{lang.button.send}}</button>
            </div>
        </div>
    </form>
  </main>


</script>
<!--- \signup ---------------------------------------------------------------------------------------------------------->
<!--- settings ----------------------------------------------------------------------------------------------------------->
<script id="settings" type="text/x-handlebars-template">

    <main role="main" class="container">
    
		<div class="text-center mb-4">
			<h1 class="h3 mb-3 font-weight-normal">{{lang.link.settings}}</h1>
		</div>
       
    
        <form id="settings-send" class="form-box"  enctype="multipart/form-data">
        
        <div class="alert alert-danger hide" role="alert" data-form-error></div>
		<div class="alert alert-info hide" role="alert" data-form-info></div>

          <div class="form-group">
            <label for="password">{{lang.text.password}}</label>
            <input type="password" class="form-control" id="password" name="password">
          </div>
          
          <div class="form-group">
            <label for="repassword">{{lang.text.repeatPassword}}</label>
            <input type="password" class="form-control" id="repassword" name="repassword">
          </div>
          
          <!--div class="form-group">
           <label for="downloaded_file">{{lang.text.avatar}}</label>
           <input type="file" class="form-control" name="downloaded_file" id="downloaded_file" multiple="multiple">
          </div-->

          <button type="submit" class="btn btn-primary"  data-form="settings-send">{{lang.button.save}}</button>
        </form>
    
    </main>

</script>
<!--- \settings ---------------------------------------------------------------------------------------------------------->
<!--- settings ----------------------------------------------------------------------------------------------------------->
<script id="not-authorized" type="text/x-handlebars-template">

    <main role="main" class="container">
       
        <div class="mb-4 content">
           <h1 class="h3 font-weight-normal">{{lang.error.err1}}</h1>
             <br />
             <p>{{lang.text.PleaseLoginAgain}}</p>
             
             
        </div>
    
    

    
    </main>

</script>
<!--- \settings ---------------------------------------------------------------------------------------------------------->


